.container {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
}

.container .formContainer {
  max-width: 50rem;
  width: 100%;
  border: 2px solid #0066ff;
}

.container .formContainer .formField .inputField {
  padding: 1rem;
  font-size: 1.6rem;
  border: 2px solid #fff;
  width: 85%;
}

.taskContainer {
  display: flex;
  justify-content: center;
  max-width: 50rem;
  width: 100%;
  border: 2px solid #0066ff;
}

.taskContainer .taskList {
  width: 70%;
}

.taskContainer .taskList .taskItem {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

.formField {
  /* width: 280px; */
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btnContainer .btn {
  padding: 10px;
  font-size: 16px;
  margin: 2rem 0;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  border-radius: 5px;
  width: 40%;
}
